#main-nolineal #entradas{
  width:200px;
  padding:20px 25px;
}

#main-nolineal #entradas a{
text-decoration: none;
  background-color: #004C80;
  color: white;
  padding: 5px 20px;
  padding-left:10px;
  margin-top:5px;
  display:block;
}
#main-nolineal #entradas a.selected{
background-color: #670080;
}
#main-nolineal #entradas label{
  display: block;
  margin-top:20px;
  margin-bottom:5px;
}
#main-nolineal #entradas input{
  width:calc(100% - 19px);
  box-sizing:border-box;
}
#main-nolineal #entradas .equal{
  display:inline-block;
  width: 19px;
}
#main-nolineal #entradas .datos{
  display:none;
}
#main-nolineal #entradas .selected{
  display:block;
}
