#container #main-minimos{
  padding: 2%;
}
#container #form{
   position:left;
}

#container #column-left input{
	padding: 5px 5px;
}
#container #column-left #inputs {
  margin-top: 20px;
}
#container #column-left #inputs input{
  width: 77.5px;
}
