#container #main-minimos{
	padding: 2%;
	padding-top: 5%;
}
#container #form{
	position:left;
}
#container #column-left{
	vertical-align: top;
}
#container #column-left input{
	padding: 5px 5px;
}
#container #column-left #inputs {
	margin-top: 20px;
}
#container #column-left #inputs label{
	margin-bottom: 5px;
	display: block;
}
#container #column-left #inputs input{
	width: 77.5px;
}
#container #column-left #inputs button{
	margin-top: 10px;
	width: 183px;
}

#container .tabs-result{
	padding-left: 15px;
}

#container .tabs-result a{
	text-decoration: none;
  background-color: #004C80;
  color: white;
  padding: 5px 20px;
}

#container .tabs-result a.selected{
	background-color: #670080;
}

#container .tabs-result > div{
	display: none;
}
#container .tabs-result > div.selected{
	display: block;;
}

#container .tabs-result #plotLineal,
#container .tabs-result #plotCuad,
#container .tabs-result #plotExpon
{
	float: left;
}

#container .tabs-result .resData{
	float: left;
}

#container .resData .Ecuacion{
	padding-bottom: 10px;
	color: #0181CC;
	font-size: 18px;
}
#container .resData .tablaErrores{

}

#container .tablaErrores .table-row .table-cell:nth-child(1){
	width: 100px;
}

#container .tablaErrores .table-row .table-cell:nth-child(2){
	text-align: right;
}

#container .tablaErrores .table-row:last-child .table-cell{
	padding-top: 10px;
}

@media (max-width: 760px) {
	.table, .table-row, .table-cell{
		display: block;
	}
	.table-cell{
		float: left;
	}
	#container .tabs-result{
		display: block;
		width: 100%;
		padding: 0;
	}
	#container .tabs-result a{
		display: block;
		margin-top: 5px;
	}
	#container .tabs-result > div.selected{
		min-height: 200px;
	}
	#container #footer{
		margin-top: 40px;
		position: relative;
		top: initial; bottom: initial;
		left: initial; right: initial;
		float: left;
		width: 100%;
	}
}
