#container #main-minimos{
	padding: 2%;
	width: 100%;
}
#container #form{
	position:left;
}
#container #column-left{
	vertical-align: top;
}
#container #column-left input{
	padding: 5px 5px;
}
#container #column-left #inputs {
	margin-top: 20px;
}
#container #column-left #inputs label{
	margin-bottom: 5px;
	display: block;
}
#container #column-left #inputs input{
	width: 77.5px;
}
#container #column-left #inputs button{
	margin-top: 10px;
	width: 183px;
}
#container #plotLineal{
	float: left;
}

#container #tablaErrores{
	float: left;
}

#container #tablaErrores .table-row .table-cell:first-child{
	width: 100px;
}

#container #tablaErrores .table-row:last-child .table-cell{
	padding-top: 10px;
}
