html, body{
	margin: 0;
  	font-family: 'Roboto', sans-serif;
	height: 100%;
}
#container{
	position: relative;
	height: 100%;
}

#container #header{
	height: 60px;
	padding: 40px;
	padding-top: 30px;
	padding-left: 40px;
	border-bottom: 10px solid #004C80;
	background-color: #0181CC;
}

#container #header img{
	height: 100%;
}

#container #menu{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

#container #menu a{
	display: inline-block;
	
	width: 150px;
	text-align: center;
	
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 60px;
	padding-top: 50px;
	text-decoration: none;
}

#container #menu a#graph{
	background-image: url("icons/analytics-chart.svg");
}

#container #menu a#minim{
	background-image: url("icons/minimos.svg");
}


#container #menu a.selected{
	cursor: pointer;
}
#container #menu #phantom{
	clear: both;
}

#container #footer{
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
}

#container #footer-content{
	padding: 10px;
	padding-left: 40px;
	background-color: #252525;
	text-align: center;
}	

#container #footer-content h3{
	color: #A0A0A0;
	display: inline-block;
	margin-left: 20px;
	font-size: 13px;
	text-align: center;
}
#container #footer-content h3 div{
	font-size: 10px;
}

@media (max-width: 600px) {
	#container{
		min-height: 650px;
	}
	#container #menu{
		bottom: 90px;
	}
}

@media (max-width: 500px) {
	#container{
		min-height: 700px;
	}
}

#container #form{
	margin: 0 auto;
	position:center;
}
